<a href="https://colab.research.google.com/github/19pa1a0441/dunnala-kartheek/blob/master/UKMG_Trail2ggg1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction:**
 The dataset choosen in below gives the information regarding  sucide rates overview from 1985 to 2016 in different nations.

## **variables :** 
1. **country** - This coloumn consists of nations from which                  we collected the sucide information .
2. **year** - The information present in this coloumn is in which year the sucides are took place(1985 -2016).
3. **sex**- This coloumn is about gender.(male or female)
4. **age**- The age group of people who committed sucides.
5. **suscide number** - Number people committed sucide in a  year .
6. **population**- Total population of that nation.
7.sucides per 100k population - number of sucides took place per 100k people .
8.**country-year**- Sucides occured in particular nation in a year 
9.**HDI for year**- It describes overall achievement of nation in its social and economic dimensions (HDI - human development index )
10.**GDP for year** - (Gross domestic product (GDP)) is a monetary measure of the market value of all the final goods and services produced in a year by that nation.
GDP per capita - GDP per capita is a measure of a country's economic output That accounts for its number of people .
11.**generation** - This coloumn describes about the generation of the sucide committed people .

# **Questionnaire :**
  1. How to read the data set using pandas?
  2. How to find the dimensions of choosen dataset ?
  3. How to get the choosen number of starting rows of a dataset?
  4. How to get the choosen number of ending rows of a dataset?
  5. How to determine the datatypes of all columns?
  6. How to access the all the column names of a dataset?
  7.

## **pandas dataframe :**

In [0]:
# importing pandas 
   import pandas as pd

# **Reading data :**

In [0]:
# read data from csv file
data= pd.read_csv("/content/suicide-rates-overview-1985-to-2016.zip")
print(data)

          country  year  ... gdp_per_capita ($)       generation
0         Albania  1987  ...                796     Generation X
1         Albania  1987  ...                796           Silent
2         Albania  1987  ...                796     Generation X
3         Albania  1987  ...                796  G.I. Generation
4         Albania  1987  ...                796          Boomers
...           ...   ...  ...                ...              ...
27815  Uzbekistan  2014  ...               2309     Generation X
27816  Uzbekistan  2014  ...               2309           Silent
27817  Uzbekistan  2014  ...               2309     Generation Z
27818  Uzbekistan  2014  ...               2309     Generation Z
27819  Uzbekistan  2014  ...               2309          Boomers

[27820 rows x 12 columns]

In [0]:
# cleaning data (by deleting the columns having NAN values)
oops=data.dropna(axis=0)
oops

          country  year  ... gdp_per_capita ($)       generation
72        Albania  1995  ...                835     Generation X
73        Albania  1995  ...                835           Silent
74        Albania  1995  ...                835  G.I. Generation
75        Albania  1995  ...                835     Generation X
76        Albania  1995  ...                835     Generation X
...           ...   ...  ...                ...              ...
27815  Uzbekistan  2014  ...               2309     Generation X
27816  Uzbekistan  2014  ...               2309           Silent
27817  Uzbekistan  2014  ...               2309     Generation Z
27818  Uzbekistan  2014  ...               2309     Generation Z
27819  Uzbekistan  2014  ...               2309          Boomers

[8364 rows x 12 columns]

# **checking data dimensions :**

In [0]:
# using shape method on data frame 
print(oops.shape)

(27820, 11)

#**Data inspection** :

In [0]:
#getting top 5 rows using head method
print(oops.head(5))

    country  year  ... gdp_per_capita ($)       generation
72  Albania  1995  ...                835     Generation X
73  Albania  1995  ...                835           Silent
74  Albania  1995  ...                835  G.I. Generation
75  Albania  1995  ...                835     Generation X
76  Albania  1995  ...                835     Generation X

[5 rows x 12 columns]

In [0]:
# getting last 5 rows using tail method 
oops.tail(5)

          country  year  ... gdp_per_capita ($)    generation
27815  Uzbekistan  2014  ...               2309  Generation X
27816  Uzbekistan  2014  ...               2309        Silent
27817  Uzbekistan  2014  ...               2309  Generation Z
27818  Uzbekistan  2014  ...               2309  Generation Z
27819  Uzbekistan  2014  ...               2309       Boomers

[5 rows x 11 columns]

In [0]:
# data type of each coloumn
print(oops.dtypes)

country                object
year                    int64
sex                    object
age                    object
suicides_no             int64
population              int64
suicides/100k pop     float64
country-year           object
 gdp_for_year ($)      object
gdp_per_capita ($)      int64
generation             object
dtype: object

In [0]:
# accessing  column names
print(data.columns)

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k pop', 'country-year', 'HDI for year',
       ' gdp_for_year ($) ', 'gdp_per_capita ($)', 'generation'],
      dtype='object')

In [0]:
  # data type of each coloumn
print(oops.dtypes)

# **Central tendency :**

In [0]:
# finding median of  numerical columns 
oops.median()

year                    2010.000
suicides_no               27.000
population            472250.500
suicides/100k pop          5.720
HDI for year               0.779
gdp_per_capita ($)     12584.000
dtype: float64

In [0]:
#  finding mean of numerical columns
oops.mean()

year                  2.005349e+03
suicides_no           2.061243e+02
population            1.852173e+06
suicides/100k pop     1.199194e+01
HDI for year          7.766011e-01
gdp_per_capita ($)    2.107437e+04
dtype: float64

In [0]:
# finding mode 
oops.mode()

       country    year  ... gdp_per_capita ($)    generation
0    Argentina  2010.0  ...              996.0  Generation X
1      Austria     NaN  ...             4096.0           NaN
2      Belgium     NaN  ...             4505.0           NaN
3       Brazil     NaN  ...             6662.0           NaN
4     Bulgaria     NaN  ...             8906.0           NaN
..         ...     ...  ...                ...           ...
692        NaN     NaN  ...                NaN           NaN
693        NaN     NaN  ...                NaN           NaN
694        NaN     NaN  ...                NaN           NaN
695        NaN     NaN  ...                NaN           NaN
696        NaN     NaN  ...                NaN           NaN

[697 rows x 12 columns]

## **variability :**

In [0]:
# finding variance 
oops.var()

year                  7.749317e+01
suicides_no           4.637671e+05
population            1.575894e+13
suicides/100k pop     3.014311e+02
HDI for year          8.717342e-03
gdp_per_capita ($)    5.098197e+08
dtype: float64

In [0]:
# finding standard deviation
oops.std()

year                  8.803020e+00
suicides_no           6.810045e+02
population            3.969754e+06
suicides/100k pop     1.736177e+01
HDI for year          9.336671e-02
gdp_per_capita ($)    2.257919e+04
dtype: float64

# **Histogram** :

In [0]:
oops.plot(x="year", y='population',kind="hist")

*The above chart shows that the distribution is right skewed (positive), and there are extreme higher values at the right of the histogram.*

# **Scatter Plot :**

In [0]:
oops.plot.scatter(x="year",y="population",title="scatter plot")

In [0]:
# cleaning data (by deleting the columns having NAN values)
oops=data.dropna(axis=0)
oops