<a href="https://colab.research.google.com/github/19pa1a0441/dunnala-kartheek/blob/master/UKMG_Trail1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction:**
 The dataset choosen in below gives the information regarding  sucide rates overview from 1985 to 2016 in different nations.

## **variables :** 
1. **country** - This coloumn consists of nations from which                  we collected the sucide information .
2. **year** - The information present in this coloumn is in which year the sucides are took place(1985 -2016).
3. **sex**- This coloumn is about gender.(male or female)
4. **age**- The age group of people who committed sucides.
5. **suscide number** - Number people committed sucide in a  year .
6. **population**- Total population of that nation.
7.sucides per 100k population - number of sucides took place per 100k people .
8.**country-year**- Sucides occured in particular nation in a year 
9.**HDI for year**- It describes overall achievement of nation in its social and economic dimensions (HDI - human development index )
10.**GDP for year** - (Gross domestic product (GDP)) is a monetary measure of the market value of all the final goods and services produced in a year by that nation.
GDP per capita - GDP per capita is a measure of a country's economic output That accounts for its number of people .
11.**generation** - This coloumn describes about the generation of the sucide committed people .

## **pandas dataframe :**

In [0]:
# importing pandas 
   import pandas as pd

# **Reading data :**

In [6]:
# read data from csv file
data= pd.read_csv("/content/suicide-rates-overview-1985-to-2016.zip")
print(data)

          country  year  ... gdp_per_capita ($)       generation
0         Albania  1987  ...                796     Generation X
1         Albania  1987  ...                796           Silent
2         Albania  1987  ...                796     Generation X
3         Albania  1987  ...                796  G.I. Generation
4         Albania  1987  ...                796          Boomers
...           ...   ...  ...                ...              ...
27815  Uzbekistan  2014  ...               2309     Generation X
27816  Uzbekistan  2014  ...               2309           Silent
27817  Uzbekistan  2014  ...               2309     Generation Z
27818  Uzbekistan  2014  ...               2309     Generation Z
27819  Uzbekistan  2014  ...               2309          Boomers

[27820 rows x 12 columns]

In [23]:
# cleaning data (by deleting the columns having NAN values)
data.dropna(axis=1)

          country  year  ... gdp_per_capita ($)       generation
0         Albania  1987  ...                796     Generation X
1         Albania  1987  ...                796           Silent
2         Albania  1987  ...                796     Generation X
3         Albania  1987  ...                796  G.I. Generation
4         Albania  1987  ...                796          Boomers
...           ...   ...  ...                ...              ...
27815  Uzbekistan  2014  ...               2309     Generation X
27816  Uzbekistan  2014  ...               2309           Silent
27817  Uzbekistan  2014  ...               2309     Generation Z
27818  Uzbekistan  2014  ...               2309     Generation Z
27819  Uzbekistan  2014  ...               2309          Boomers

[27820 rows x 11 columns]

# **checking data dimensions :**

In [7]:
# using shape method on data frame 
print(data.shape)

(27820, 12)

#**Data inspection** :

In [8]:
#getting top 5 rows using head method
data.head(5)

   country  year  ... gdp_per_capita ($)       generation
0  Albania  1987  ...                796     Generation X
1  Albania  1987  ...                796           Silent
2  Albania  1987  ...                796     Generation X
3  Albania  1987  ...                796  G.I. Generation
4  Albania  1987  ...                796          Boomers

[5 rows x 12 columns]

In [10]:
# getting last 5 rows using tail method 
data.tail(5)

          country  year  ... gdp_per_capita ($)    generation
27815  Uzbekistan  2014  ...               2309  Generation X
27816  Uzbekistan  2014  ...               2309        Silent
27817  Uzbekistan  2014  ...               2309  Generation Z
27818  Uzbekistan  2014  ...               2309  Generation Z
27819  Uzbekistan  2014  ...               2309       Boomers

[5 rows x 12 columns]

In [9]:
# data type of each coloumn
print(data.dtypes)

country                object
year                    int64
sex                    object
age                    object
suicides_no             int64
population              int64
suicides/100k pop     float64
country-year           object
HDI for year          float64
 gdp_for_year ($)      object
gdp_per_capita ($)      int64
generation             object
dtype: object

In [12]:
# accessing  column names
print(data.columns)

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k pop', 'country-year', 'HDI for year',
       ' gdp_for_year ($) ', 'gdp_per_capita ($)', 'generation'],
      dtype='object')

In [14]:

# central tendency 
data.mode()

          country    year  ... gdp_per_capita ($)    generation
0         Austria  2009.0  ...             1299.0  Generation X
1         Iceland     NaN  ...             2303.0           NaN
2       Mauritius     NaN  ...             4104.0           NaN
3     Netherlands     NaN  ...                NaN           NaN
4             NaN     NaN  ...                NaN           NaN
...           ...     ...  ...                ...           ...
2300          NaN     NaN  ...                NaN           NaN
2301          NaN     NaN  ...                NaN           NaN
2302          NaN     NaN  ...                NaN           NaN
2303          NaN     NaN  ...                NaN           NaN
2304          NaN     NaN  ...                NaN           NaN

[2305 rows x 12 columns]